@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgba(228, 216, 216, 0.822);
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    height: 116vh;
    font-weight: bold;
    text-align: center; 
}

.sidebar nav{
    padding: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
    
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.blogContainer h1{
    font-family: 'Raleway', sans-serif;
    margin: 43px 20px 30px 20px;
}

.blogItem {
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;  
}

.buttons button{
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    width: 135px;
    height: 38px;
    font-family: sans-serif;
    background-color: dodgerblue;
    color: white;
    margin-left: 21px;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}